/* Здесь вы напишете основную часть стилей страницы.

style.css

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  color: var(--color-text-main);

  font-family: var(--font-main), sans-serif;
  font-weight: var(--font-weight-text);

  background-image: var(--page-background);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weight-text);
}

.content {
  margin-inline: auto;
  inline-size: var(--content-width);
}

.header {
  padding-top: 100px;
  padding-bottom: clamp(98px, calc(100.704px - 0.188vw), 100px);
}

.header .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  border: 2px solid #000;
  padding-block: clamp(119px, calc(115.83px + 0.845vw), 128px);
  outline: none;
  /* padding-inline: clamp(16px, calc(-21.5px + 10vw), 122.5px);  */
  text-align: center;
  background-color: #fff;
}

@media (min-width: 1440px) {
  .header .content {
    border: none;
    outline: 2px solid #000;
    outline-offset: 0;
  }
}

.header__logo {
  color: inherit;
  font-family: var(--font-accent);
  font-size: clamp(49px, calc(43.366px + 1.502vw), 65px);
  line-height: 1.05;
  text-decoration: none;
}

.header__title {
  font-family: var(--font-accent);
  font-size: clamp(14px, calc(10.831px + 0.845vw), 23px);
  line-height: 1.2;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  border: 2px solid #000;
  background-color: #fff;
}

.card__title {
  padding: 4.5px 10px;
  font-weight: var(--font-weight-title);
  font-size: var(--font-size-main);
  line-height: 1.15;
  font-variation-settings: "wght" var(--font-weight-title);
}

.card__image-wrapper {
  position: relative;
  border-block: 2px solid #000;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;

  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;

  opacity: 0.5;
  mix-blend-mode: hard-light;
  pointer-events: none;

  color: #000;

  /* Фоллбэк-обводка (работает почти везде) */
  text-shadow:
    -1px 0 var(--label-stroke-color),
    0 1px var(--label-stroke-color),
    1px 0 var(--label-stroke-color),
    0 -1px var(--label-stroke-color);
}

/* Если stroke поддерживается */
@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card__label {
    -webkit-text-stroke: 1px var(--label-stroke-color);
    text-stroke: 1px var(--label-stroke-color);
    text-shadow: none;
  }
}

.card__image {
  display: block;
  inline-size: 100%;
  block-size: auto;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 25px 24px 25px;
  font-size: var(--font-size-main);
  line-height: 1.17;
}

.card__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  padding: 0 25px 25px;
}

.card__icon-button {
  display: grid;
  place-items: center;
  border: none;
  padding: 0;
  background: transparent;
}

.like-icon {
  display: block;
}

.card__like-button {
  border: 2px solid #000;
  padding: 10.5px 35px;
  font-family: var(--font-accent);
  font-size: var(--font-size-button);
  line-height: 1;
  background: transparent;
}

.save-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-inline: auto;
  margin-block-end: 100px;
  padding: 15px 18px;
  border: 2px solid #000;
  background: #fff;

  font-family: var(--font-accent);
  font-size: var(--font-size-button);
  line-height: 1;
}

.save-button__icon {
  display: block;
}

.card__icon-button,
.card__like-button,
.save-button {
  cursor: pointer;
}

.dialog {
  display: none;

  border: 2px solid #000;
  background: #fff;

  color: var(--color-text-main);
}

.dialog[open] {
  display: block; /* меняем display только при open */
  inline-size: min(353px, calc(100vw - 40px));
  padding: 30px;
}

/* Фон под диалогом */
.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog[open] .dialog__content {
  display: grid;
  grid-template-columns: 39px 1fr;
  align-items: center;
  column-gap: 20px;
}

.dialog__icon {
  display: block;
}

.dialog__text {
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog__form {
  margin-top: 30px;
} 

.dialog__button {
  inline-size: 100%;
  padding: 10.5px 0;

  border: 2px solid #000;
  background: #fff;

  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
  text-transform: uppercase;
}


@media (width <= 375px) {
  .main {
    gap: 49.5px;
  }

  .save-button {
    flex-direction: column;
  }

  .save-button__icon{
    width: 28px;
    height: 28px;
  }

  .dialog[open] {
    padding: 30px 40px;
    inline-size: min(341px, calc(100vw - 34px));
  }

}
